*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box  ;


}

html{
  background-color: black;
  font-family: roboto ,sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}


/* style for banner */
ul{
  list-style: none;
}